@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

.paystack-button {
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: #6c0fb6;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 45px;
    margin-top: 40px;
}

.icon {
    width: 50px;
    height: 30px;
}

.picon {
    width: 50px;
    height: 40px;
}

.ptitle {
    width: 30%;
    height: auto;
}

.image {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.custom-card {
    flex-basis: 31.66% !important;
}


