.app-pagination.swiper-pagination-horizontal.swiper-pagination-bullets {
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  width: 100%;
}

.app-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 10px;
  height: 5px;
  background-color: #5e075f !important;
  border-radius: 2px;
  transition: transform 0.5s;
  opacity: 0.2;
}

.app-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #5e075f !important;
  transform: scaleX(2);
  opacity: 1;
}
